@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #FFFFFF;
  --black: #202020;
  --grey: #5d5d5d;
  --green: #08B261;
  --green2: #0C8A4E;
  --red: #A82000;
}

body {
  margin: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ------------------------------------------------------ */
/* -- NAVIGATION -- */

nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.nav_branded {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.nav_branded img {
  max-width: 125px;
  height: auto;
}

.nav_branded h1 {
  color: var(--green);
  font-size: 2.2em;
  font-weight: 800;
}

.nav_links {
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;
}

.nav_links li {
  margin: 0 15px;
}

.nav_links li a {
  text-decoration: none;
  color: var(--black);
}

.nav_links li a:hover {
  color: var(--green);
}

.nav_connect {
  width: 175px;
  height: 50px;
  margin: 0 auto;

  background-color: var(--green);
  color: var(--white);

  border: none;
  border-radius: 4px;

  font-family: "Open Sans";
  font-size: 1.10em;
  font-weight: 600;

  cursor: pointer;
  transition: all 250ms ease;
}

.nav_connect:hover {
  background-color: var(--green2);
}

/* ------------------------------------------------------ */
/* -- HEADER -- */

header {
  background-image: url("./asset/Cover.png");
  background-position: center;
  background-size: cover;
  min-height: 40vh;

  position: relative;
}

.headerTitle {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: var(--white);
  font-size: 2em;

  width: 100%;
  text-align: center;
}

.headerSearch {
  padding: 25px;
  min-width: 40%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headerSearch::placeholder {
  font-family: "Open Sans";
  font-size: 1.25em;
  font-weight: 600;
}

.headerSearch:hover {
  outline: 1px solid var(--green);
}

/* ------------------------------------------------------ */
/* -- CARDS -- */

.cards_section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.cards_section h3 {
  margin: 50px 0 20px;
}

.cards {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
  margin-top: 20px;
}

.card {
  width: 350px;
  height: 400px;

  border: 1px solid var(--black);
  margin: 10px auto;

  cursor: pointer;
  position: relative;

  transition: all 250ms ease;
}

.card:hover {
  box-shadow: 1px 1px 5px var(--grey);
}

.cardImage {
  position: absolute;
  width: 100%;
  z-index: -1;
}

.cardImage img {
  max-width: 100%;
}

.cardInfo {
  width: 100%;
  height: 45%;

  background-color: var(--white);

  padding: 5px 10px;

  position: absolute;
  bottom: 0;
  left: 0;
}

.cardInfo h4 {
  font-family: "Open Sans";
  font-size: 1.25em;
  font-weight: 600;
}

.cardInfo p {
  font-family: "Open Sans";
  font-size: 1rem;
  margin-top: 20px;
}

/* ------------------------------------------------------ */
/* -- POPUPS -- */

.pop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popDetails {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
  align-items: center;

  width: 80%;
  height: 70%;
  margin: 0 auto;
  padding: 20px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  background: var(--white);
}

.popImage {
  max-width: 500px;
  margin: 0px auto;
}

.popImage img {
  width: 100%;
  max-width: 24rem;
  height: auto;
}

.popClose {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 30px;
  height: 30px;

  background: transparent;
  border: none;

  cursor: pointer;
}

.popClose img {
  width: 25px;
  height: 25px;
}

.pop_overview {
  height: 100%;
  margin: 0 20px;
  padding-right: 40px;

  overflow-y: scroll;
}
.pop_overview_title {
  font-size: 2rem;
  font-weight: bold;
}
.pop_overview h1,
.pop_overview h2,
.pop_overview hr {
  margin: 15px auto;
}

.pop_overview ul {
  margin-left: 40px;
}
.pop_overview p {
  font-size: 1.2rem;
}

.pop_buy,
.pop_agent,
.pop_owned {
  margin: 20px 5px;

  background-color: var(--green);
  color: var(--white);

  border: none;
  border-radius: 4px;

  font-family: "Open Sans";
  font-size: 1.10em;
  font-weight: 600;

  cursor: pointer;
  transition: all 250ms ease;
}

.pop_buy {
  width: 225px;
  height: 50px;
}

.pop_buy:hover {
  background-color: var(--green2);
}

.pop_agent {
  width: 150px;
  height: 50px;

  background-color: transparent;
  color: var(--green);

  border: 1px solid var(--green);
}

.pop_agent:hover {
  background-color: #f7f7f7;
  color: var(--green2);
}

.pop_owned {
  height: 50px;
  background-color: var();

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: default;
}

.featuresList {
  text-decoration: none;
}
.featuresList li {
  list-style: none;
}
@media screen and (max-width: 768px) {
  nav {
    grid-template-columns: repeat(2, 1fr);
  }

  .nav_links {
    display: none;
  }
}